SWAPPINESS=10
SWAP_SIZE_MB=512

UBUNTU_PRO_TOKEN=
HOSTNAME=
TIMEZONE=

USERNAME=
PASSWORD=

SSH_PORT=22
SSH_PUBKEY='[type] [key] [comment]'

POSTFIX_MAILNAME=domain.com
SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

GIT_REPO_NAME=